.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.text-input {
  display: block;
  margin-bottom: 15px;
}

.topics label {
  display: block;

}

.submit-button {
  margin-top: 15px;
  height: 1.5rem;
  max-width: 100px;
  background-color: #003153;
  color: white;
  border: none;
  border-radius: 15px;
}

@media only screen and (min-width: 450px) {
  .app {
    display: flex;
    width: 100%;
    margin-left: 100px;
  }
  .text-input {
    width: 250px;
    height: 1.2rem;
  }
}